body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: #fff;
    background-color: #4169E1;
    border-color: #4169E1;
    padding: 15px;
    margin-top: 300px;
}
